.outline {
  position: relative;
  top: 70px;
  width: 80px;
  max-width: 200px;
  height: 640px;
  overflow: hidden;
  background-color: darkgray;
  //left: 10px;
  & > * {
    display: block;
  }
}

.fullBar {
  margin-top: 10px;
  color: #444444;
  font: 12pt Arial;
}

.colorBar {
  width: 22px;
  height: 480px;
}
