.radioGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  & > * {
    //flex: none;
    font-size: 16px;
  }
}

.imgTypeBt {
  & > * {
    margin-left: 6px;
  }
}

.denoiseSwitch {
  margin-left: 8px;
  scale: 110%;
}

.modelSwitch {
  margin-left: 12px;
  scale: 120%;
}

.cesium {
  position: relative;
  display: block;
  .topLayer {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    // 不允许子元素超出父元素范围
    max-height: 100%;
    overflow: hidden;
    opacity: 0.8;
    & > * {
      margin: 2px;
    }
  }
}
