@import (reference) '~antd/es/style/themes/index';

.container {
  padding: 0;
  background: @layout-body-background;
}

//@media (min-width: @screen-md-min) {
//  .container {
//    //background-image: url('https://mdn.alipayobjects.com/yuyan_qk0oxh/afts/img/V-_oS6r-i7wAAAAAAAAAAAAAFl94AQBr');
//    background-image: url('../../../public/pic/bg.jpg');
//    background-size: cover;
//  }
//}

.radioGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  & > * {
    //flex: none;
    font-size: 16px;
  }
}

.imgTypeBt {
  & > * {
    margin-left: 6px;
  }
}

.denoiseSwitch {
  margin-left: 8px;
  scale: 110%;
}

.modelSwitch {
  margin-left: 12px;
  scale: 120%;
}
